go 1.26.4

use (
	.
	./examples/mello-claude
	./libs/client
	./libs/sandbox
	./libs/server
	./libs/shared
	./libs/tests
	./libs/tools
	./libs/mcp-server
)

replace github.com/mezon/mezon-go-sdk-turbo => ../funix-mezon-bot/platform/packages/mezon-go-sdk-turbo
